@model HermesLicencingInterface.Models.TEmpresa
@{
    ViewBag.Title = "Adicionar Emoresa";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<h2>Adicionar Empresa</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Falhou criação de nova empresa, consultar detalhes.");
    <div>
        <fieldset>
            <legend>
                Adicionar nova empresa cliente
            </legend>
            <div>
                @Html.LabelFor(e => e.nome)
            </div>
            <div>
                @Html.TextBoxFor(e => e.nome)
                @Html.ValidationMessageFor(u => u.nome)
            </div>
            <div>
                @Html.LabelFor(e => e.morada)
            </div>
            <div>
                @Html.TextBoxFor(e => e.morada)
                @Html.ValidationMessageFor(u => u.morada)
            </div>
            <div>
                @Html.LabelFor(e => e.email)
            </div>
            <div>
                @Html.TextBoxFor(e => e.email)
                @Html.ValidationMessageFor(e => e.email)
            </div>
            <div>
                @Html.LabelFor(e => e.nif)
            </div>
            <div>
                @Html.TextBoxFor(e => e.nif)
                @Html.ValidationMessageFor(e => e.nif)
            </div>
            <div>
                @Html.LabelFor(e => e.contacto)
            </div>
            <div>
                @Html.TextBoxFor(e => e.contacto)
                @Html.ValidationMessageFor(e => e.contacto)
            </div>
            <div>
                @Html.LabelFor(e => e.maxRegs)
            </div>
            <div>
                @Html.TextBoxFor(e => e.maxRegs)
                @Html.ValidationMessageFor(e => e.maxRegs)
            </div>
            
            <input type="submit" value="Enviar" />
        </fieldset>
    </div>
}