@model HermesClient.Models.TCliente
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<h2>Adicionar Cliente</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Falhou criação de novo cliente, consultar detalhes.");
    <div>
        <fieldset>
            <legend>
                Adicionar novo produto
            </legend>
            <div>
                @Html.LabelFor(c => c.nome)
            </div>
            <div>
                @Html.TextBoxFor(c => c.nome)
                @Html.ValidationMessageFor(c => c.nome)
            </div>
            <div>
                @Html.LabelFor(c => c.nif)
            </div>
            <div>
                @Html.TextBoxFor(c => c.nif)
                @Html.ValidationMessageFor(c => c.nif)
            </div>
            <div>
                @Html.LabelFor(c => c.contacto)
            </div>
            <div>
                @Html.TextBoxFor(c => c.contacto)
                @Html.ValidationMessageFor(c => c.contacto)
            </div>

            <input type="submit" value="Adicionar" />
        </fieldset>
    </div>
}