@model HermesClient.Models.TCliente
@{
    ViewBag.Title = "Editar Ciente";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Falhou edição do cliente, consultar detalhes.");
    <div>
        <fieldset>
            <div>
                @Html.HiddenFor(c => c.idCliente)
            </div>
            <div>
                @Html.LabelFor(c => c.nome)
            </div>
            <div>
                @Html.TextBoxFor(c => c.nome)
                @Html.ValidationMessageFor(c => c.nome)
            </div>
            <div>
                @Html.LabelFor(c => c.nif)
            </div>
            <div>
                @Html.TextBoxFor(c => c.nif)
                @Html.ValidationMessageFor(c => c.nif)
            </div>
            <div>
                @Html.LabelFor(c => c.contacto)
            </div>
            <div>
                @Html.TextBoxFor(c => c.contacto)
                @Html.ValidationMessageFor(c => c.contacto)
            </div>

            <input type="submit" value="Enviar" />
        </fieldset>
    </div>
}