@model IEnumerable<HermesClient.Models.TCliente>
@{
    ViewBag.Title = "Lista de Clientes";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<table>
    <tr>
        <th>nome</th>
        <th>nif</th>
        <th>contacto</th>
    </tr>
    @foreach (var obj in Model)
    {
        <tr>
            <td><a href="@Url.Content("~/cliente/edit/" + @obj.idCliente)">@obj.nome</a></td>
            <td>@obj.nif</td>
            <td>@obj.contacto</td>
            @if (obj.estado == 1)
            {
                <td><a href="@Url.Content("~/cliente/Enable/" + @obj.idCliente)">Activar</a></td>
            }
            else
            {
                <td><a href="@Url.Content("~/cliente/Disable/" + @obj.idCliente)">Desactivar</a></td>
            }
        </tr>
    }
    <tr>
        <td colspan="3" align="center">
            <a href="@Url.Content("~/Cliente/create")">Criar Nova Empresa Cliente</a>
        </td>
    </tr>
</table>