@model IEnumerable<HermesLicencingInterface.Models.TLicenca>
@{
    ViewBag.Title = "Licenças da empresa "+ @ViewBag.Message;
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<table>
    <tr>
        <th>IMEI</th>
        <th>CodLicenca</th>
        <th>Estado</th>
        <th colspan="2"></th>

    </tr>
    @foreach (var obj in Model)
    {
        <tr>
            <td>@obj.imei</td>
            <td>@obj.codLicenca</td>
            <td>@obj.estado</td>
            <td><a href="@Url.Content("~/Licenca/Enable/"+@obj.idLicenca)">Activar</a></td>
            <td><a href="@Url.Content("~/Licenca/Disable/"+@obj.idLicenca)">Desactivar</a></td>
            <td><a href="@Url.Content("~/Licenca/Delete/"+@obj.idLicenca)">Eliminar</a></td>
</tr>
    }
</table>
