@model IEnumerable<HermesClient.Models.TLocal>
@{
    ViewBag.Title = "Lista de Locais";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<table>
    <tr>
        <th>nome</th>
        <th>morada</th>
    </tr>
    @foreach (var obj in Model)
    {
        <tr>
            <td><a href="@Url.Content("~/Local/edit/" + @obj.idLocal)">@obj.nome</a></td>
            <td>@obj.morada</td>
        </tr>
    }
    <tr>
        <td colspan="2" align="center">
            <a href="@Url.Content("~/Local/create")">Criar Novo Local</a>
        </td>
    </tr>
</table>