@model HermesLicencing.Models.TUtilizador
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<h1>User:@Model.nome </h1>


<div class='section' id='userDetails'>
    <table>
        <tr>
            <td><label for="idUtilizador">ID</label></td>
            <td><div id="idUtilizador">@Model.idUtilizador</div></td>
        </tr>
        <tr>
            <td><label for="username">Username</label></td>
            <td><input type="text" id="username" value="@Model.username" /></td>
        </tr>
        <tr>
            <td><label for="nome">Nome</label></td>
            <td><input type="text" id="nome" value="@Model.nome" /></td>
        </tr>
        <tr>
            <td><label for="email">E-mail</label></td>
            <td><input type="text" id="email" value="@Model.email" /></td>
        </tr>
        <tr>
            <td><label for="numSerieEquip">Número de Série Móvel</label></td>
            <td><div id="numSerieEquip">@Model.numSerieEquip</div><input type="button" value="Reset" onclick="resetSerial()" /></td>
        </tr>
        <tr>
            <td><label for="estado">Estado</label></td>
            <td>
                <select id="estado">
                </select> />
            
            </td>
        </tr>
        <tr>
            <td><label for="idTipoUtilizador">idTipoUtilizador</label></td>
            <td><input type="text" id="idTipoUtilizador" value="@Model.idTipoUtilizador" /></td>
        </tr>
        <tr>
            <td><label for="idEmpresa">idEmpresa</label></td>
            <td><input type="text" id="idEmpresa" value="@Model.idEmpresa" /></td>
        </tr>
        <tr>
            <td class="field-validation-error"></td>
            <td><input type="button" value="Guardar Alterações" onclick="saveData()" /></td>
        </tr>
        
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var listItems = "";
        var usrStatus = parseInt("@Model.estado");

        var statuses = ["Inactivo", "Activo", "Suspenso"];

        for (var i = 0; i < 3; i++) {
            listItems += "<option value='" + i +"' ";
            if (i == usrStatus)
            {
                listItems += "selected";
            }
            listItems += ">" + statuses[i] + "</option>";
        }
        $('#estado').html(listItems);
    });

    var onUserUpdateFailed = function (xhr) {
        var errorCell = $('td[class*="field-validation-error"]');
        errorCell.empty();
        switch (xhr.status) {
            case 400:
                errorCell.append('E-mail address is invalid.');
                break;

            case 409:
                errorCell.append('Name or E-mail address conflicts with another user.');
                break;
        }
    };


    var saveData = function () {
        var utilizaddor = {
            idUtilizador: $('div[id="idUtilizador"]').text(),
            username: $("#username").val(),
            passwordSalt: '@Model.passwordSalt',
            nome: $("#nome").val(),
            idEmpresa: $("#idEmpresa").val(),
            idTipoUtilizador: $("#idTipoUtilizador").val(),
            estado: $("#estado").val(),
            numSerieEquip: $('div[id="numSerieEquip"]').text(),
            password: '@Model.password',
            email: $("#email").val()
        };

        $.ajax({
            type: 'PUT',
            @*url: '/hermes/utilizadores/' + '@Model.idUtilizador',*@
            url: '/utilizadores/' + '@Model.idUtilizador',
            data: utilizaddor,
            dataType: 'json',
            //success: location.reload(),
            error: onUserUpdateFailed
        });
    };

    var resetSerial = function () {
        var utilizaddor = {
            idUtilizador: $('div[id="idUtilizador"]').text(),
            username: $("#username").val(),
            passwordSalt: '@Model.passwordSalt',
            nome: $("#nome").val(),
            idEmpresa: $("#idEmpresa").val(),
            idTipoUtilizador: $("#idTipoUtilizador").val(),
            estado: $("#estado").val(),
            numSerieEquip: '',
            password: '@Model.password',
            email: $("#email").val()
        };

        $.ajax({
            type: 'PUT',
            //url: '/hermes/utilizadores/' + '@Model.idUtilizador',
            url: '/utilizadores/' + '@Model.idUtilizador',
            data: utilizaddor,
            dataType: 'json',
            //success: location.reload(),
            error: onUserUpdateFailed
        });
    };

</script>