@model HermesClient.Models.TUtilizador
@{
    ViewBag.Title = "Criar Utilizador";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Falhou registo de novo utilizador. Consultar info.");
    <div>
        <fieldset>
            <div>
                @Html.LabelFor(u => u.username)
            </div>
            <div>
                @Html.TextBoxFor(u => u.username)
                @Html.ValidationMessageFor(u => u.username)
            </div>
            <div>
                @Html.LabelFor(u => u.nome)
            </div>
            <div>
                @Html.TextBoxFor(u => u.nome)
                @Html.ValidationMessageFor(u => u.nome)
            </div>
            <div>
                @Html.LabelFor(u => u.password)
            </div>
            <div>
                @Html.PasswordFor(u => u.password)
                @Html.ValidationMessageFor(u => u.password)
            </div>
            <div>
                @Html.LabelFor(u => u.email)
            </div>
            <div>
                @Html.TextBoxFor(u => u.email)
                @Html.ValidationMessageFor(u => u.email)
            </div>
            <input type="submit" value="Criar" />
        </fieldset>
    </div>
}