@model HermesClient.Models.TUtilizador
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<h2>Editar dados utilizador</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Falhou edição dos dados do utilizador, consultar detalhes.");
    <div>
        <fieldset>
            <legend>
                Editar dados da Empresa
            </legend>
            <div>
                @Html.LabelFor(u => u.username)
            </div>
            <div>
                @Html.TextBoxFor(u => u.username)
                @Html.ValidationMessageFor(u => u.username)
            </div>
            <div>
                @Html.LabelFor(u => u.nome)
            </div>
            <div>
                @Html.TextBoxFor(u => u.nome)
                @Html.ValidationMessageFor(u => u.nome)
            </div>
            <div>
                @Html.LabelFor(u => u.email)
            </div>
            <div>
                @Html.TextBoxFor(u => u.email)
                @Html.ValidationMessageFor(u => u.email)
            </div>

            <div>
                @Html.LabelFor(u => u.password)
            </div>
            <div>
                @Html.TextBoxFor(u => u.password)
                @Html.ValidationMessageFor(u => u.password)
            </div>

            <input type="submit" value="Enviar" />
        </fieldset>
    </div>
}