@model HermesClient.Models.TProduto
@{
    ViewBag.Title = "Editar Produto";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Falhou edição do produto, consultar detalhes.");
    <div>
        <fieldset>
            <div>
                @Html.HiddenFor(p => p.idProduto)
            </div>
            <div>
                @Html.LabelFor(p => p.nome)
            </div>
            <div>
                @Html.TextBoxFor(p => p.nome)
                @Html.ValidationMessageFor(p => p.nome)
            </div>
            <div>
                @Html.LabelFor(p => p.codProduto)
            </div>
            <div>
                @Html.TextBoxFor(p => p.codProduto)
                @Html.ValidationMessageFor(p => p.codProduto)
            </div>
            <div>
                @Html.LabelFor(p => p.descricao)
            </div>
            <div>
                @Html.TextBoxFor(p => p.descricao)
                @Html.ValidationMessageFor(p => p.descricao)
            </div>
            <div>
                @Html.LabelFor(p => p.valUnitario)
            </div>
            <div>
                @Html.TextBoxFor(p => p.valUnitario)
                @Html.ValidationMessageFor(p => p.valUnitario)
            </div>

            <input type="submit" value="Enviar" />
        </fieldset>
    </div>
}