@model IEnumerable<HermesClient.Models.TProduto>
@{
    ViewBag.Title = "Lista de Produtos";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<table>
    <tr>
        <th>codProduto</th>
        <th>nome</th>
        <th>descricao</th>
        <th>valUnitario</th>
    </tr>
    @foreach (var obj in Model)
    {
        <tr>
            <td>@obj.codProduto</td>
            <td><a href="@Url.Content("~/Produto/edit/" + @obj.idProduto)">@obj.nome</a></td>
            <td>@obj.descricao</td>
            <td>@obj.valUnitario</td>
            @if (obj.estado == 1)
            {
                <td><a href="@Url.Content("~/Produto/Enable/" + @obj.idProduto)">Activar</a></td>
            }
            else
            {
                <td><a href="@Url.Content("~/Produto/Disable/" + @obj.idProduto)">Desactivar</a></td>
            }
        </tr>
    }
    <tr>
        <td colspan="4" align="center">
            <a href="@Url.Content("~/Produto/create")">Criar Novo Produto</a>
        </td>
    </tr>
</table>