@model IEnumerable<HermesClient.Models.TLicenca>
@{
    ViewBag.Title = "Licenças Contratadas";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<table>
    <tr>
        <th>IMEI</th>
        <th>CodLicenca</th>
        <th>Estado</th>
        <th colspan="3"></th>
    </tr>
    @foreach (var obj in Model)
    {
        <tr>
            <td>@obj.imei</td>
            <td>@obj.codLicenca</td>
            <td>@obj.estado</td>
            @if (obj.estado == "1")
            {
                <td><a href="@Url.Content("~/Licenca/Enable/" + @obj.idLicenca)">Activar</a></td>
            }else{
                <td><a href="@Url.Content("~/Licenca/Disable/" + @obj.idLicenca)">Desactivar</a></td>
            }
            <td><a href="@Url.Content("~/Licenca/Delete/" + @obj.idLicenca)">Eliminar</a></td>
        </tr>
    }
</table>
